// Fonts heading
$h1__primary__heading: 1rem;
$h2__primary__heading: 0.5rem;
$h3__primary__heading: 0.5rem;
$h4__primary__heading: 1rem;
$h5__primary__heading: 0.5rem;
$h6__primary__heading: 0.5rem;
$simple__para:2.3rem;


// color
$white: #f8f9fa;
$deep-sky-blue: #252734;
$manatee: #858792;
$charade: #2a2c39;
$bs-blue: #0d6efd;
$bs-indigo: #6610f2;
$bs-purple: #6f42c1;
$bs-pink: #d63384;
$bs-red: #dc3545;
$bs-orange: #fd7e14;
$bs-yellow: #ffc107;
$bs-green: #198754;
$bs-teal: #20c997;
$bs-cyan: #0dcaf0;
$bs-white: #fff;
$bs-gray: #6c757d;
$bs-gray-dark: #343a40;
$bs-primary: #0d6efd;
$bs-secondary: #6c757d;
$bs-success: #198754;
$bs-info: #0dcaf0;
$bs-warning: #ffc107;
$bs-danger: #dc3545;
$bs-light: #f8f9fa;
$bs-dark: #212529;
$color__black: #0000;
$uppercase: uppercase;
$padding: 20px;

// Media query

$layout-breakpoint-small: 760px;



// Padding 

$pt:4rem;